@import "custom";

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.ttf') format('truetype'),
        url('../fonts/Rubik-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Light.ttf') format('truetype');
}

body {

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray;
    }

    background-color: $secondary;
    font-family: 'Rubik', Helvetica;

    background-color: $light-gray;

    header {
        z-index: 999;
        width: 100%; 
        padding: 0!important;
        background-color: $light-gray;

        .navbar-brand img{
            height: 80px;
        }

        .navbar-toggler{
            border: none;
            border-radius: 0;
            
            .navbar-toggler-icon {
                font-size: 25pt;
                height: 45px;
                width: 45px;
            }
        }

        nav {
            width: 100%;
            height: auto;
            padding: 0;
            background-color: $light-gray;
            
            .navbar-nav a {
                padding: 2px;
                margin: 5px;
                color: $gray!important;

                &.active {
                    color: $b2!important;
                }
            }
        }
    }

    main {
        .background-image {
            position: absolute;
            left: 0;
            top: 90px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 700px;
            background-color: $b4;
            background-image: url('../img/slider1.jpg');
        }

        #home {
            background-color: rgba($color: $b4, $alpha: .6);
            position: relative;
            width: 100%;
            height: 700px;

            .container {
                width: 50%;
                
                h1 {
                    font-family: 'Oswald'; 
                    letter-spacing: 8pt;                    
                    width: 300px;
                    height: 80px;
                    padding: 10px 0;
                    margin: 90px auto 20px;
                    border: 2px solid $b1;
                }

                p {
                    font-size: 28pt;

                    span {
                        font-family: 'Oswald'; 
                        color: $b1;
                        font-size: 32pt;
                    }
                }

                button {
                    border: none;
                    background-color: $b2;
                    font-size: 18pt;
                    font-weight: lighter;
                    padding: 10px 50px
                }
            }
        }

        #features {
            h2 {
                color: $b3;
            }

            .card {
                background-image: url('../img/pattern.png');
                margin-bottom: 50px;

                .card-img {
                    width: 85px;
                    margin: 30px auto;
                }

                .card-title {
                    font-family: 'Oswald';
                    margin-top: -30px; 
                    font-size: 22pt;
                    font-weight: bold;
                }

                .line {
                    background-color:#bbb;
                    height: 2px;
                }

                .card-text {
                    min-height: 100px;
                    margin: 50px 30px 20px;
                }

                .btn {
                    width: 150px;
                    margin: 20px auto;
                    border-radius: 0;
                }
            }

            .circles {                
                .circle {
                    width: 180px;
                    height: 180px;
                    margin: 15px auto;
                    border-radius: 50%;
                    box-shadow: 0 0 25px #aaa;
                    background-color: #fff;
                    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);

                    .content {
                        position: absolute;
                        margin-left: -3px;
                        margin-top: -3px;
                        width: 170px;
                        height: 170px;
                        border-radius: 50%;
                        background-color: #fff;

                        h4 {
                            color: $gray;
                        }
                    }
                }
            }
        }

        #info {
            min-height: 400px;
            padding: 0;

            .row {
                margin: 0;

                &>div{ 
                    background-color: $b4;
                    color: #fff;

                    .detail {
                        margin: auto 50px;

                        .line {
                            margin-top: -5px; 
                            margin-left: 0;
                            width: 180px;
                            background-color: $b5;
                            height: 1px;
                        }

                        p {
                            margin: 40px 0;
                            font-size: 12pt;
                            color: #deeaff;

                            &.lead {
                                font-size: 20pt;
                                line-height: 26pt; 
                                color: #fff;
                            }
                        }

                        .btn {
                            border-radius: 0;
                            color: $b6;
                            border-color: $b5;
                            margin-bottom: 60px;

                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                }

                .video {
                    padding: 0;
                    
                    iframe {
                        width: 100%    !important;
                        height: 100%   !important;
                        min-height: 300px;
                    }
                }
            }
        }

        #contact {
            .container {
                width: 40%;
                margin: auto;

                .line {
                    margin-top: -2px; 
                    margin-left: 0;
                    width: 100px;
                    background-color: $b5;
                    height: 1px;
                }

                form {
                    widows: 100%;
                    
                    input {
                        height: 45px;
                        border-radius: 0;
                        font-style: italic;
                    }

                    .btn {
                        display: block;
                        border-radius: 0;
                        color: $b6;
                        border-color: $b5;
                        width: 150px;
                        height: 45px;
                        margin: 10px auto;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }

            table {
                width: 90%;
                margin: 60px auto 10px;
                background-color: #fff;

                tr th {
                    color: $gray;
                    height: 45px;
                    border: 1px solid #989898;

                    &:nth-child(1){
                        min-width: 60px;
                    }
                }
                
                thead th{ 
                    color: $b3;
                    height: 45px;
                }
            }
        }

        #map iframe {
            width: 100%;
            height: 350px;
            margin-top: 50px;
            background-color: $gray;
        }
    }

    footer {
        background-color: $b4;

        div {
            height: 90px;

            p {
                margin: 0;
                font-family: 'Oswald';
                color: #fff;
            }
    
            .social {
                height: 50px;
                
                a img{
                    margin: 10px;
                    height: 100%;
                }
                
            }
        }
    }
}

@media screen and (max-width: 991px) {
    body {
        main{ 
            #home .container{
                width: 100%;
            }

            #contact .container{
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 765px) {

    #contact .container{
        width: 95%!important;
    }

    footer .social{
        width: 100%;
    }
}